// This defines theme-specific variables.
@mixin theme-variables($theme) {
    @if $theme == "light" {
        // Light theme colours.
        --primary-color: #212688; // Contrast ratio: 4.73:1
        --text-color: #100f0f;
        --text-color-high-contrast: #100f0f;
        --background-color: #FFFCF0;
        --bg-1: #E6E4D9;
        --bg-2: #F2F0E5;
    } @else if $theme == "dark" {
        // Dark theme colours.
        --primary-color: #6b82ec;
        --text-color: #CECDC3;
        --text-color-high-contrast: #CECDC3;
        --background-color: #1C1B1A;
        --bg-1: #403E3C;
        --bg-2: #282726;
    }
}

// Apply light theme variables by default.
:root {
    @include theme-variables("light");
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme="dark"] {
    @include theme-variables("dark");
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        @include theme-variables("dark");
    }
}
