// This defines theme-specific variables.
@mixin theme-variables($theme) {
    @if $theme == "light" {
        // Light theme colours.
        --primary-color: #3282e2; // Contrast ratio: 4.73:1
        --text-color: #5a676b;
        --text-color-high-contrast: #5a676b;
        --background-color: #f1e9d2;
        --bg-1: #ded5bf;
        --bg-2: #fef6df;
    } @else if $theme == "dark" {
        // Dark theme colours.
        --primary-color: #4d9cff; // Contrast ratio: 11.06:1
        --text-color: #98a7a8;
        --text-color-high-contrast: #b4c3c4;
        --background-color: #002d38;
        --bg-1: #214a56;
        --bg-2: #0d3844;
    }
}

// Apply light theme variables by default.
:root {
    @include theme-variables("light");
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme="dark"] {
    @include theme-variables("dark");
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        @include theme-variables("dark");
    }
}
