:root {
	--bg: #121212;
	--bg-light: #1C1B19;
	--fg: #FCE8C3;
	--green: #98BC37;
	--blue: #68A8E4;
	--yellow: #FED06E;
	--red: #F75341;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	background: var(--bg);
	color: var(--fg);
	font-family: 'FantasqueSansMonoRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	line-height: 1.25em;
}

.container p {
	text-align: justify;
	text-justify: inter-word;
}

ul {
	margin-top: 0.2em;
	list-style-type: square;
	list-style-position: outside;
}

a {
	color: var(--green);
	transition: all 128ms;
	text-decoration: none;
}

a:hover {
	color: var(--blue);
}

.success {
	color: var(--blue);
}

.warning {
	color: var(--yellow);
}

.danger {
	color: var(--red);
}