on: push
name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v4.0.0
        with:
          submodules: recursive
      - name: Setup typst
        uses: typst-community/setup-typst@v4
      - uses: cargo-bins/cargo-binstall@main
      - name: fontpm | setup
        run: cargo binstall fontpm
      - name: fontpm | refresh
        run: fontpm refresh
      - name: fontpm | install fonts
        run: |
          fontpm install ibm-plex-sans
          fontpm install ibm-plex-mono
      - name: Build resume
        run: typst c resume/resume.typ static/resume.pdf
      - uses: actions/upload-artifact@v4
        with:
          name: resume-pdf
          path: static/resume.pdf
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@master
        env:
          PAGES_BRANCH: gh-pages
          BUILD_DIR: .
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
