on: push
name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v4.0.0
        with:
          submodules: recursive
      - name: Setup fontist
        uses: fontist/setup-fontist@v2
      - name: Install font
        run: fontist install "IBM Plex Sans"
      - name: Setup typst
        uses: typst-community/setup-typst@v4
      - name: Build resume
        run: typst c resume/resume.typ static/resume.pdf --font-path ~/.fontist/fonts
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@master
        env:
          PAGES_BRANCH: gh-pages
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
